body {
    background-color: darkgray;
}

.dinoCard {
    background-color: mediumspringgreen;
    color: black;
    width: 200px;
    text-align: center;
}

.assignmentCard {
    background-color: lightpink;
    color: midnightblue;
    width: auto;
    text-align: center;
}